form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
}

.rating-wrapper {
  display: flex;
  flex-direction: column;
}

.genre-wrapper {
  display: flex;
  flex-direction: column;
}
.description-wrapper {
  display: flex;
  flex-direction: column;
}
